* {
    margin: 1px;
    padding: 0%;
    font-family: 'Bebas Neue', cursive;

}

main,
header,
footer {
    background-color: rgba(235, 79, 79, 0.877);
    max-width: 758px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
}

main,
footer {
    background-color: rgba(13, 255, 0, 0.793);
}

h3 {
    text-align: center;
}

li {
    display: flex;
    justify-content: center;
}

body {
    background-color: rgba(0, 0, 0, 0.774);
    display: flex;
    width: 320;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./image/fondo.gif);

}

.recuadroGeneral {
    justify-content: center;
    border: solid 2px black;
}

/*testigo item*/
#itemRed {
    color: tomato;

}
#itemBlue {
    color: blue;
}